@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2 class="display-4">Translation example: [@ViewBag.translation.Get(@ViewBag.lang,"Hello")]</h2>
        <select onchange="location = location.protocol + '//' + location.host + `?lang=${this.value}`;">
            <option value=''>Choose language</option>
            <option value='en'>American English</option>
            <option value='en-gb'>Britain English</option>
            <option value='ru'>Russian</option>
        </select>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
